# Python cache
__pycache__/
*.pyc
memory.json
.pytest_cache/
# Virtual environments
venv/
.venv/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Project runtime data
memory.json